<?xml version="1.0" encoding="UTF-8"?>


<persistence version="2.0" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/persistence">


<persistence-unit name="employeePU">




<properties>

<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>

<!-- <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" /><property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/jpaDB?createDatabaseIfNotExist=true" /><property name="hibernate.connection.username" value="root"/><property name="hibernate.connection.password" value="root" /><property name="hibernate.show_sql" value="true"/><property name="hibernate.format_sql" value="true"/><property name="hibernate.hbm2ddl.auto" value="update"/><property name="hibernate.orm_generation" value="create"/><property name="hibernate.dialect" value="org.hibernate.dialect.MySQL55Dialect" /> -->


<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>

<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/LibraryProject?createDatabaseIfNotExist=true"/>

<property name="javax.persistence.jdbc.user" value="root"/>

<property name="javax.persistence.jdbc.password" value="root"/>

<property name="hibernate.show_sql" value="true"/>

<property name="hibernate.format_sql" value="true"/>

<property name="hibernate.hbm2ddl.auto" value="update"/>

<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL55Dialect"/>

<!--property name = "javax.persistence.schema-generation.database.action" value="drop-and-create"/ -->


</properties>

</persistence-unit>

</persistence>